.LoginForm,
.RegisterForm {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.closeButton {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 1010;
}

.submitButtonLogin {
    background: transparent;
    width: 120px;
    height: 40px;
    border: 2px solid #fff;
    background: rgb(0, 0, 48);
    color: #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 35%;
    margin-left: 65%;
    transition: .5s;
}

.submitButtonRegister {
    background: transparent;
    width: 120px;
    height: 40px;
    border: 2px solid #fff;
    background: rgb(0, 0, 48);
    color: #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 10%;
    margin-left: 65%;
    transition: .5s;
}

.submitButtonLogin:hover,
.submitButtonRegister:hover {
    background: #fff;
    color: black;
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    z-index: 1000;
}

.inputBoxLogin {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 50px;
}

.inputBoxRegister {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 40px;
}

form {
    width: 100%;
}

.icon {
    font-size: 20px;
}

.wrapperForm {
    position: absolute;
    display: flex;
    width: 700px;
    height: 630px;
    margin-top: 10%;
    margin-left: 30%;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    z-index: 1000;

}

.ProfileForm,
.TransactionForm,
.CardForm {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70%;
    margin-top: 16%;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.800);
    backdrop-filter: blur(2 0px);
    box-sizing: border-box;
}

.modal-content {
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.inputBoxProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 14px;
}


.inputBoxProfile input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 8px;
    color: white;
    margin-top: 5px;
    width: 300px;
}


.profileButtons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 80px;
}

.buttonDeleteUser,
.submitButtonProfile {
    margin-left: 20px;
    width: 110px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #fff;
    background: rgb(0, 0, 48);
    color: #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8em;
    transition: .5s;
}

.buttonDeleteUser:hover {
    background: red;
}

.submitButtonProfile:hover {
    background: #fff;
    color: black;
}

.userId {
    color: black;
}


.cardEditForm,
.transactionEditForm {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.inputBoxCards {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-width: 200px;
    width: 100%;
    height: 100%;
}

.inputBoxCreateCards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 8%;
}

.cardNameNumber {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 100px;
}

.cardCvvDate {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 100px;
}

.cardOwnerType {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: 100px;
}

.inputBoxCards input,
.inputBoxCreateCards input,
.inputBoxTransaction input,
.inputBoxProfile input {
    background: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 8px;
    color: rgb(0, 0, 0);
    margin-top: 5px;
}

.inputBoxCreateTransaction input {
    background: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 8px;
    color: rgb(0, 0, 0);
}

.inputBoxCards label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;
}

.buttonCards {
    font-weight: 500;
    display: flex;
    width: 130px;
    height: 36px;
    margin-left: auto;
    margin-right: 70px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #fff;
    background: rgb(0, 0, 48);
    color: #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
}

.buttonCards:hover {
    background: #fff;
    color: black;
}

.generateCardButton,
.generateTransactionButton {
    font-weight: 500;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}


.generateCardButton button {
    font-weight: 500;
    width: 150px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #fff;
    background: rgb(0, 0, 48);
    color: #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8em;
    transition: .5s;
}

.generateCardButton button:hover {
    background: #fff;
    color: black;
}

.generateTransactionButton button {
    font-weight: 500;
    width: 200px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #fff;
    background: rgb(0, 0, 48);
    color: #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8em;
    transition: .5s;
}

.generateTransactionButton button:hover {
    background: #fff;
    color: black;
}

.saldo {
    margin-left: 72%;
    margin-top: -4%;
    width: 130px;
    color: #fff;
}

.inputBoxTransaction {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-width: 200px;
    width: 100%;
    height: 100%;
}

.transactionIdTitle {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: 70px;
}

.transactionValorSender {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 70px;
}

.transactionEmailReceiver {
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-left: 90px;
}

.transactionDate {
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-bottom: 20px;
}

.inputBoxCreateTransaction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 6%;
}

.buttonTransactions {
    font-weight: 500;
    display: flex;
    width: 130px;
    height: 36px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #fff;
    background: rgb(0, 0, 48);
    color: #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
}

.buttonTransactions:hover {
    background: #fff;
    color: black;
}

.cardsList,
.transactionsList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 10px
}

.CardForm ul,
.TransactionForm ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.CardForm li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.listButton {
    margin-left: 20px;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #fff;
    background: rgb(0, 0, 48);
    color: #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8em;
    transition: .5s;
}

.listButton:hover {
    background: #fff;
    color: black;
}

.success-message,
.error-message {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 3px;
    border-radius: 5px;
    z-index: 999;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

@media (max-width: 768px) {}